In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import chart_studio.plotly as py
import plotly
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
import datetime
from jupyter_dash import JupyterDash
from dash import dcc
from dash.dependencies import Input, Output
import dash_html_components as html
import dash_bootstrap_components as dbc
from dash_extensions import Lottie

C:\Users\spana\anaconda3\lib\site-packages\ipykernel_launcher.py:16: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  app.launch_new_instance()

In [2]:
data=pd.read_csv(r'C:\Users\spana\Documents\Project1\HotelRevenueMgm\Project2\hotel_bookings.csv')
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
#Fill nan values in children with mean value
children_mean=data['children'].mean()
data['children']=data['children'].fillna(children_mean)
data['children']=data['children'].astype('int64')

In [4]:
#Sort by Month
data = Sort_Dataframeby_Month(df=data,monthcolumnname='arrival_date_month')

In [5]:
#Create 2 new columns with the sum of client & days
data['members']=data['adults']+data['children']+data['babies']
data['total_days']=data['stays_in_weekend_nights']+data['stays_in_week_nights']
data.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,members,total_days
0,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,NaN,0,Transient-Party,59.94,0,1,Check-Out,2016-01-02,2,1
1,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,NaN,0,Transient-Party,116.10,1,1,Check-Out,2016-01-02,4,1

In [6]:
#Convert object 'reservation_status_date' to datetime
data['reservation_status_date'] =  pd.to_datetime(data['reservation_status_date'], infer_datetime_format=True)

In [7]:
#Create 2 new columns by the 'reservation_status_date' 
data['Year'] = data['reservation_status_date'].map(lambda x: x.year)
data['Month'] = data['reservation_status_date'].map(lambda x:x.month)

In [8]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,members,total_days,Year,Month
0,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,Transient-Party,59.94,0,1,Check-Out,2016-01-02,2,1,2016,1
1,Resort Hotel,0,109,2016,January,1,1,0,1,2,...,Transient-Party,116.10,1,1,Check-Out,2016-01-02,4,1,2016,1
2,Resort Hotel,1,2,2016,January,1,1,0,1,2,...,Transient,89.00,0,1,No-Show,2016-01-01,2,1,2016,1
3,Resort Hotel,0,88,2016,January,1,1,0,2,2,...,Transient,73.46,0,2,Check-Out,2016-01-03,2,2,2016,1
4,Resort Hotel,1,20,2016,January,1,1,0,2,2,...,Transient,119.00,0,0,Canceled,2015-12-22,4,2,2015,12

### Pie Chart

In [9]:
country=data[['hotel' , 'country' , 'reservation_status' , 'Year' , 'Month']].copy()

In [10]:
#Keep only reservation status 'Cancelled'
canc_resort=country[(country['reservation_status']=='Canceled')]

In [11]:
#Count the cancelations for resort hotels
resort_canc=canc_resort.groupby(['country' , 'hotel' , 'Year' , 'Month']).reservation_status.value_counts().sort_values(ascending=False).reset_index(name='Total Cancelations R')

In [12]:
#Keep only the top 5 countries for cancellations
a=resort_canc.loc[(resort_canc['country'] == 'PRT')|(resort_canc['country'] == 'GBR')|(resort_canc['country'] == 'ESP')|(resort_canc['country'] == 'FRA')|(resort_canc['country'] == 'DEU')]

In [13]:
a1=a.replace({'country' : { 'PRT' : 'Portugal' , 'GBR':'United Kingdom' , 'DEU':'Germany' , 'FRA':'France' , 'ESP':'Spain'}})

In [14]:
a1=a1.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
a1.head()

,country,hotel,Year,Month,reservation_status,Total Cancelations R
0,Portugal,City Hotel,2015,October,Canceled,2097
1,Portugal,City Hotel,2015,July,Canceled,1804
2,Portugal,City Hotel,2016,January,Canceled,1252
3,Portugal,City Hotel,2017,January,Canceled,1064
4,Portugal,City Hotel,2016,November,Canceled,1002

### Scatter Plot

In [15]:
count_market=data[['hotel' , 'country' , 'market_segment' , 'Year' , 'Month' , 'reservation_status']].copy()
#Count Market Segment
count_market1=count_market.groupby(['hotel' , 'Year' , 'market_segment' , 'country' , 'Month' , 'reservation_status']).market_segment.count().sort_values().reset_index(name='count_market')
count_market1=count_market1.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
count_market1.head()

,hotel,Year,market_segment,country,Month,reservation_status,count_market
0,Resort Hotel,2017,Online TA,ZWE,February,Check-Out,1
1,City Hotel,2016,Online TA,IRL,August,No-Show,1
2,Resort Hotel,2016,Direct,AUS,October,Check-Out,1
3,City Hotel,2016,Online TA,IRL,September,No-Show,1
4,Resort Hotel,2016,Direct,AUS,August,Check-Out,1

In [16]:
#Map countrie's names with Alpha-3 code
datacountry=pd.read_csv(r'C:\Users\spana\Projects\Project2 Dashboard\Data\country_codes.csv' , sep=',', encoding='latin-1')
datacountry.rename(columns = {'Alpha-3 code':'country'}, inplace = True)
count_market1['country'] = count_market1['country'].map(datacountry.set_index('country')['Country']) 
count_market1=count_market1.dropna()
count_market1.head()

,hotel,Year,market_segment,country,Month,reservation_status,count_market
0,Resort Hotel,2017,Online TA,Zimbabwe,February,Check-Out,1
1,City Hotel,2016,Online TA,Ireland,August,No-Show,1
2,Resort Hotel,2016,Direct,Australia,October,Check-Out,1
3,City Hotel,2016,Online TA,Ireland,September,No-Show,1
4,Resort Hotel,2016,Direct,Australia,August,Check-Out,1

### Map

In [17]:
count_reserv=data[['hotel' , 'country' , 'reservation_status' , 'Year' , 'Month']].copy()
count_reserv1=count_reserv.groupby(['hotel' , 'Year' , 'country' , 'Month' , 'reservation_status']).reservation_status.count().sort_values().reset_index(name='count_reserv')
count_reserv1=count_reserv1.dropna()
datacountry=pd.read_csv(r'C:\Users\spana\Projects\Project2 Dashboard\Data\country_codes.csv' , sep=',', encoding='latin-1')
datacountry.rename(columns = {'Alpha-3 code':'country'}, inplace = True)
count_reserv1['Country'] = count_reserv1['country'].map(datacountry.set_index('country')['Country']) 
count_reserv1=count_reserv1.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
count_reserv1.head()

,hotel,Year,country,Month,reservation_status,count_reserv,Country
0,Resort Hotel,2017,ZWE,February,Check-Out,1,Zimbabwe
1,Resort Hotel,2015,ESP,May,Canceled,1,Spain
2,City Hotel,2016,MAC,November,Canceled,1,Macao
3,City Hotel,2016,LVA,December,Check-Out,1,Latvia
4,City Hotel,2016,LVA,September,Check-Out,1,Latvia

In [18]:
#Function for dropdown
month =  { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}

for value in month.values():
    print (value)

January
February
March
April
May
June
July
August
September
October
November
December

# CARDS

In [19]:
noshow=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
noshow = noshow.loc[(noshow.reservation_status == 'No-Show')]

In [20]:
noshow=noshow.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [21]:
canceled=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
canceled = canceled.loc[(canceled.reservation_status == 'Canceled')]

In [22]:
canceled=canceled.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [23]:
checkout=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
checkout = checkout.loc[(checkout.reservation_status == 'Check-Out')]

In [24]:
checkout=checkout.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

In [25]:
reservations=data[['hotel' , 'reservation_status' , 'Year' , 'Month']].copy()
reservations = reservations.loc[(reservations.reservation_status == 'Check-Out')|(reservations.reservation_status == 'Canceled')|(reservations.reservation_status == 'No-Show')]
reservations=reservations.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})

### Bar Chart

In [26]:
adr=data[['hotel' , 'Year' , 'Month' , 'adr' , 'market_segment' , 'reservation_status']].copy()
adr=adr.replace({'Month' : { 1 : 'January' , 2:'February' , 3:'March' , 4:'April' , 5:'May' , 6:'June' ,
                                               7:'July' , 8:'August' , 9:'September' , 10:'October' , 11:'November' , 12:'December'}})
adr=adr.loc[adr['reservation_status']=='Check-Out']
adr_new=adr[['hotel' , 'Year' , 'Month' , 'adr' , 'market_segment']]
adr_new=adr_new.sort_values('adr')
adr_new=adr_new.groupby(['hotel' , 'Year' , 'Month' , 'market_segment']).adr.sum().reset_index(name='totaladr')

In [27]:
url_coonections='https://assets1.lottiefiles.com/packages/lf20_5ohCYt.json'
url_reservations='https://assets9.lottiefiles.com/packages/lf20_ovhnyvxu.json'
url_canceled='https://assets10.lottiefiles.com/packages/lf20_mLtaRR.json'
url_noshow='https://assets8.lottiefiles.com/packages/lf20_L8eE99.json'
options = dict(loop=True, autoplay=True, rendererSettings=dict(preserveAspectRatio='xMidYMid slice'))

import dash_html_components as html
import dash_bootstrap_components as dbc
import plotly.express as px
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.FLATLY])
app.layout = html.Div((
    

     dbc.Row([
        dbc.Col(html.H1("Hotel Revenue Managment Dashboard"),
                        style={'font-style': 'italic', 'color':'white'} ,
                        width={'size': 28, 'offset': 3},
                        )] , className='mb-5 mt-2'),

    
    dbc.Row([
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_reservations)),
                dbc.CardBody([
                     html.H6('Reservations'),
                    html.H2(id='content-connections1', children="0")
                ])
            ]),
        ], width={'size':2 , 'offset': 2}),
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_coonections)),
                dbc.CardBody([
                    html.H6('Check Out'),
                    html.H2(id='content-connections', children="0")
                
                ])
            ]),
        ], width={'size':2 , 'offset': 0}),
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_canceled)),
                dbc.CardBody([
                    html.H6('Canceled'),
                    html.H2(id='content-connections2', children="0")
                ])
            ]),
        ],width={'size':2 , 'offset': 0}),
        dbc.Col([
            dbc.Card([
                dbc.CardHeader(Lottie(options=options, width="30%", height="30%", url=url_noshow)),
                dbc.CardBody([
                    html.H6('No Show'),
                    html.H2(id='content-connections3', children="0")
                ])
            ]),
        ],width={'size':2 , 'offset': 0})],className='mb-5'),
    


    dbc.Row([
     
    dbc.Col(
            dcc.RadioItems(
                    options=[
                            {'label': 'City Hotel', 'value': 'City Hotel'},
                       
                            {'label': 'Resort Hotel','value': 'Resort Hotel'} , 
                        {'label': 'All', 'value': 'All'},
                        
                                    ],
                         persistence=True ,
                         persistence_type='session',                                    
                         id='w_hoteltype' , 
                         value='City Hotel',
                         labelStyle={'display': 'inline-block'}),
                         width={'size': 5, "offset": 4})],className='mb-5 custom_size'),
        
    
    
        dbc.Row([
            
            dbc.Col(dcc.Dropdown(
        id='w_years', 
        value='2015', 
        options=[{'value': x, 'label': x} 
                 for x in ['2015', '2016', '2017']],
        clearable=False ,
        optionHeight=25 ,
        persistence=True ,
        persistence_type='session',
         style={'color':'black' , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'} ,
    ),width={'size': 2, "offset": 2 , 'order':1}),
            
            dbc.Col(dcc.Dropdown( 
    id='w_month', 
    value='January', 
    options=[{'value': value, 'label': value} 
                for value in month.values()],
             clearable=False ,
             optionHeight=25 ,
             persistence=True ,
             persistence_type='session',
             style={'color':'black' , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'}
    ),width={'size': 2, "offset": 0 , 'order':2}),
            
            
            dbc.Col(dcc.Dropdown(id='w_countries',
                         multi=True,
                         clearable=True,
                         disabled=False,
                         style={'display':True , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'},
                         value=['Portugal'],
                         placeholder='Select Nationality',
                         optionHeight=25,
                         searchable=True ,
                         persistence=True ,
                         persistence_type='session' ,
                         options=[{'label':c , 'value':c}
                                  for c in count_market1['country'].unique()]
                       
                           
),width={'size': 3, "offset":0 , 'order':4  }),
        dbc.Col(dcc.Dropdown( 
        id='w_status', 
        value='Check-Out', 
        options=[{'value': value, 'label': value} 
                    for value in count_market1['reservation_status'].unique()],
                 clearable=False ,
                  persistence=True ,
                  persistence_type='session' ,
                 optionHeight=25 ,
                 style={'color':'black' , 'background-color': 'rgb(218,165,27)' , 'font-weight': 'bold'}
        ),width={'size': 2, "offset":0 , 'order':3 })],className="mb-5 custom-dropdown"),    
     

         
     dbc.Row([
        dbc.Col(html.H3("Cancellations" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 1 },
                        ),
        dbc.Col(html.H3("Market Segment" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                  width={'size':5 , 'offset': 0})
        ]),

    
     dbc.Row([
        dbc.Col(dcc.Graph(id='pie-chart', config={'scrollZoom':True , 'doubleClick':'reset',
                                                  'displayModeBar':False , 'watermark':True }) , width=6 , xs={'size':6}),
         
        dbc.Col(dcc.Graph(id='scatter' , config={'scrollZoom':True , 'doubleClick':'reset',
                                            'displayModeBar':False , 'watermark':True }) , width=6 , xs={'size':6} )
                    
            
        ]),
    
     dbc.Row([
        dbc.Col(html.H3("Reservations" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 5 },
                        )]),
    
    dbc.Row([
        dbc.Col(dcc.Graph (id='map' , config={'scrollZoom':True , 'doubleClick':'reset',
                                            'displayModeBar':False , 'watermark':True }), width=8 , lg={'size':12})]),
        dbc.Row([
        dbc.Col(html.H3("Total Revenue" , style={'font-size': '25px' , 'text-decoration': 'underline'}),
                        width={'size': 6, 'offset': 1 },  
                        )]),
        dbc.Row([ 
        dbc.Col(dcc.Graph (id='bar_chart' , config={'scrollZoom':True , 'doubleClick':'reset',
                                                  'displayModeBar':False , 'watermark':True }))])
        

        
),id='mainContainer' , style={'display':'flex' , 'flex-direction':'column', 'color':'#000000' }, className='custom_container')







@app.callback(
    Output('pie-chart', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_chart(w_hoteltype,w_years , w_month):

    if w_hoteltype=='All':
        cancelations = a1[(a1['Year'] == int(w_years)) & (a1['Month'] == w_month)]
    else:
        cancelations = a1[(a1['Year'] == int(w_years))  & (a1['hotel'] == w_hoteltype) & (a1['Month'] == w_month)] 


    fig = px.pie(cancelations, values='Total Cancelations R', names='country' ,
                color='country' ,
                color_discrete_map={
                "France": "#0d3172",
                "Portugal": "#5f9ea0",
                "United Kingdom": "#a8a8a8",
                "Germany":"#5f91ec",
                "Spain": "#d1dffa"})
    
    fig.update_layout({
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'
})
               
    return fig

@app.callback(
    Output('scatter', 'figure'),
    [Input('w_hoteltype', 'value')],
    [Input('w_countries', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')],
    [Input('w_status' , 'value')])


def generate_bar_chart(w_hoteltype,w_countries ,w_years , w_month , w_status):
  
    if w_hoteltype=='All':
        a2 = count_market1[(count_market1['Year'] == int(w_years)) & (count_market1['country'].isin(w_countries))  & (count_market1['Month'] == w_month) & (count_market1['reservation_status'] == w_status) ]
        #print(a2)
    else:
        a2 = count_market1[(count_market1['Year'] == int(w_years))  & (count_market1['hotel'] == w_hoteltype)  & (count_market1['country'].isin(w_countries))  & (count_market1['Month'] == w_month)& (count_market1['reservation_status'] == w_status)] 
    

    barchart=px.scatter(a2, x='market_segment', y='count_market' , color='country' , hover_name='hotel' , size='count_market',
                       labels={'market_segment':'Market Segment' , 'count_market':'Quantity of markets'})
    
    barchart.update_layout({
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'})
                
    return barchart
        

@app.callback(
    Output('map', 'figure'),
    [Input('w_hoteltype', 'value')],
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')],
    [Input('w_status' , 'value')])


def generate_map(w_hoteltype, w_years , w_month , w_status):
    
    if w_hoteltype=='All':
        a3 = count_reserv1[(count_reserv1['Year'] == int(w_years))   & (count_reserv1['Month'] == w_month)  & (count_reserv1['reservation_status'] == w_status) ]
    else:
        a3 = count_reserv1[(count_reserv1['Year'] == int(w_years))  & (count_reserv1['hotel'] == w_hoteltype)  & (count_reserv1['Month'] == w_month) & (count_reserv1['reservation_status'] == w_status) ]
     
    

        
    fig = px.scatter_geo(a3, locations="country", color="country",
                     hover_name="Country", size="count_reserv",
                     
                     projection="natural earth")
    
    fig.update_layout({
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'})
                
    return fig


@app.callback(
    Output('content-connections','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_checkout(w_hoteltype ,w_years , w_month):

    dff_c = checkout.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num = len(dff_c)   
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num = len(dff_c)

        
        
    return conctns_num
        
    
@app.callback(
    Output('content-connections1','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_reservations(w_hoteltype ,w_years , w_month):
 
    dff_c = reservations.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num1 = len(dff_c)   
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num1 = len(dff_c)

        
        
    return conctns_num1


@app.callback(
    Output('content-connections2','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_canceled(w_hoteltype ,w_years , w_month):
 
    dff_c = canceled.copy()
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num2 = len(dff_c) 
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num2 = len(dff_c)

        
        
    return conctns_num2

@app.callback(
    Output('content-connections3','children'),
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])

def generate_card_canceled(w_hoteltype ,w_years , w_month):
  
    dff_c = noshow.copy()
    
    if w_hoteltype=='All':
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['Month'] == w_month)]
        conctns_num3 = len(dff_c) 
    else:
        dff_c = dff_c[(dff_c['Year'] == int(w_years))  & (dff_c['hotel'] == w_hoteltype) & (dff_c['Month'] == w_month)]
        conctns_num3 = len(dff_c)

        
        
    return conctns_num3

@app.callback(
    Output('bar_chart', 'figure'), 
    [Input('w_hoteltype', 'value')], 
    [Input('w_years', 'value')],
    [Input('w_month' , 'value')])


def generate_scatter(w_hoteltype,w_years, w_month):
    
    adr1 = adr_new.copy()

    if w_hoteltype=='All':
        adr6 = adr1[(adr1['Year'] == int(w_years))  & (adr1['Month'] == w_month)]
        adr6 = adr6.sort_values('totaladr', ascending=False)

    else:
        adr6 = adr1[(adr1['Year'] == int(w_years))  & (adr1['hotel'] == w_hoteltype)  & (adr1['Month'] == w_month)]
        adr6 = adr6.sort_values('totaladr', ascending=False)
        
    barchart=px.bar(
        adr6 ,
        x='market_segment' , 
        y='totaladr',
        color=adr6['market_segment'] ,
        hover_name=adr6['hotel'],
        color_discrete_map={
                "Complementary": "rgb(166,118,29)",
                "Corporate": "#19D3F3",
                "Direct": "rgb(27,158,119)",
                "Groups":"#5f91ec",
                "Offline TA/TO": "rgb(218,165,27)" ,
                "Online TA": "rgb(47,138,196)" ,
                "Aviation":"rgb(47,138,196)"} , 
        labels={'market_segment':'Market Segment' , 'totaladr':'ADR'})
    
    barchart.update_layout({
        
        'plot_bgcolor': 'rgba(0, 0, 0, 0)',
        'paper_bgcolor': 'rgba(0, 0, 0, 0)'})

    return(barchart)


if __name__ == '__main__':
    app.run_server(debug=True , port=8052)

Dash app running on http://127.0.0.1:8052/